* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.slide {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

.image-slider {
    position: relative;
}

.mostrar {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 150px;
    display: flex;
    align-items: center;
}

.title {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 50px;
}

.description {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 20px;
}

.saiba-mais {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.container {
    width: 390px;
    padding: 30px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;
}

.arrow {
    position: absolute;
    width: 30px;
    top: 47%;
}

.arrow img {
    width: 100%;
}

#right-arrow {
    right: 30px;
}

#left-arrow{
    left: 30px;
}

.opacidade {
    opacity: 0.5;
    pointer-events: none;
}

.slide-rosa {
    background-image: url(./images/imagem-um.png);
}

.rosa {
    color: red;
}

.slide-amarelo {
    background-image: url(./images/imagem-dois.png);
}

.amarelo {
    color: yellow;
}

.slide-marrom {
    background-image: url(./images/imagem-tres.png);
}

.marrom {
    color: brown;
}

.slide-azul {
    background-image: url(./images/imagem-quatro.png);
}

.azul {
    color: blue;
}